@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

.Main_Container {
  width: 100%;
  display: flex;
  flex-direction: column; }

.first_container {
  width: 100%;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/index/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .first_container .box {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6vw;
    background-color: rgba(200, 200, 200, 0.2);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1); }

.White_Line {
  width: 100%;
  height: 1vw;
  background-color: white; }

.second_container {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fafafa; }
  .second_container .left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .second_container .left .main_text {
      height: 100%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .second_container .left .main_text .title {
        font-weight: 600;
        font-size: 1.4vw; }
      .second_container .left .main_text .first {
        font-weight: 200;
        margin-top: .8vw; }
      .second_container .left .main_text .second {
        font-weight: 600;
        font-size: .8vw;
        margin-top: 1vw; }
      .second_container .left .main_text .fa-check {
        color: #1dbf72;
        font-size: 1vw;
        margin-right: .6vw; }
  .second_container .right {
    width: 60%;
    height: 100%;
    background-image: url("../Assets/index/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
