/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

.main_container {
  width: 100%;
  height: 28vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .main_container .Top {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main_container .Top .title {
      font-weight: 700; }
  .main_container .Middle {
    width: 70%;
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .main_container .Middle .type {
      width: 50%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1vw;
      border-radius: .5vw;
      box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1); }
      .main_container .Middle .type .box {
        width: calc(100% - 2vw);
        height: calc(100% - 2vw);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        border-radius: .5vw; }
        .main_container .Middle .type .box .content {
          width: 70%;
          height: 80%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column; }
          .main_container .Middle .type .box .content .title {
            font-size: .85vw;
            font-weight: 600;
            margin: 0 .5vw .4vw; }
            .main_container .Middle .type .box .content .title .fa-bullseye {
              font-size: .7vw;
              margin-right: .2vw; }
          .main_container .Middle .type .box .content .select-box {
            width: 100%; }
            .main_container .Middle .type .box .content .select-box .select {
              border: none;
              border-bottom: solid;
              border-width: .1vw;
              appearance: none;
              width: 100%;
              background: none;
              color: #C5C5C5;
              font-size: 1vw;
              transition: all 0.3s ease; }
              .main_container .Middle .type .box .content .select-box .select:focus {
                outline: 0;
                border-width: .2vw;
                color: #585858;
                transition: all 0.3s ease; }
    .main_container .Middle .commande {
      width: 50%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 1vw;
      border-radius: .5vw;
      box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1); }
      .main_container .Middle .commande .box {
        width: calc(100% - 2vw);
        height: calc(100% - 2vw);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        border-radius: .5vw; }
        .main_container .Middle .commande .box .content {
          width: 70%;
          height: 80%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column; }
          .main_container .Middle .commande .box .content .title {
            font-size: .85vw;
            font-weight: 600;
            margin: 0 .5vw .4vw; }
            .main_container .Middle .commande .box .content .title .fa-bullseye {
              font-size: .7vw;
              margin-right: .2vw; }
          .main_container .Middle .commande .box .content .select-box {
            width: 100%; }
            .main_container .Middle .commande .box .content .select-box .select {
              border: none;
              border-bottom: solid;
              border-width: .1vw;
              appearance: none;
              width: 100%;
              background: none;
              color: #C5C5C5;
              font-size: 1vw;
              transition: all 0.3s ease; }
              .main_container .Middle .commande .box .content .select-box .select:focus {
                outline: 0;
                border-width: .2vw;
                color: #585858;
                transition: all 0.3s ease; }
              .main_container .Middle .commande .box .content .select-box .select option:enabled {
                background-color: red; }
    .main_container .Middle .hidden {
      display: none; }
  .main_container .Bottom {
    width: 70%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main_container .Bottom .comment {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5vw;
      box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1); }
      .main_container .Bottom .comment .box {
        width: calc(100% - 2vw);
        height: calc(100% - 2vw);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        border-radius: .5vw; }
        .main_container .Bottom .comment .box .title {
          font-size: .9vw;
          margin-bottom: .5vw; }
        .main_container .Bottom .comment .box .text {
          background-color: #fafafa;
          border: 0;
          border-radius: .5vw;
          border-bottom: solid;
          border-width: .15vw;
          border-color: #C5C5C5;
          outline: 0;
          padding: 1vw;
          width: 60%;
          height: 40%;
          resize: none;
          margin-bottom: 1vw;
          text-align: center; }
        .main_container .Bottom .comment .box .button {
          width: 50%;
          color: #fff;
          border-radius: .3vw;
          padding: .4vw 0;
          font-weight: 500;
          background: gold;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          outline: none;
          border: none;
          font-size: .8vw;
          font-weight: 600; }
          .main_container .Bottom .comment .box .button:hover {
            background: #ffe10a;
            box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.1), 4px 4px 6px 0px rgba(0, 0, 0, 0.3); }

.splitter_line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0vw;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .splitter_line .line {
    width: 90%;
    height: .1vw;
    background-color: white;
    border-radius: 1vw; }

.secondary_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .secondary_container .ticket {
    width: 80%;
    height: 18vw;
    display: flex;
    flex-direction: row;
    padding: 1vw;
    margin-top: 5vw;
    border-radius: 2vw;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: white; }
    .secondary_container .ticket .left {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .secondary_container .ticket .left .box {
        width: calc(100% - 1vw);
        height: calc(100% - 1vw);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        background-color: #f0f0f0; }
        .secondary_container .ticket .left .box .id {
          font-size: 5vw; }
    .secondary_container .ticket .middle {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .secondary_container .ticket .middle .top {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row; }
        .secondary_container .ticket .middle .top .left {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .secondary_container .ticket .middle .top .left .title {
            width: calc(100% - 1vw);
            height: 40%;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
          .secondary_container .ticket .middle .top .left .box {
            width: calc(100% - 1vw);
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2vw;
            background-color: #f0f0f0; }
        .secondary_container .ticket .middle .top .right {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .secondary_container .ticket .middle .top .right .title {
            width: calc(100% - 1vw);
            height: 40%;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
          .secondary_container .ticket .middle .top .right .box {
            width: calc(100% - 1vw);
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2vw;
            background-color: #f0f0f0; }
      .secondary_container .ticket .middle .bottom {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .secondary_container .ticket .middle .bottom .title {
          width: calc(100% - 1vw);
          height: 40%;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
        .secondary_container .ticket .middle .bottom .box {
          width: calc(100% - 1vw);
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2vw;
          background-color: #f0f0f0; }
    .secondary_container .ticket .right {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .secondary_container .ticket .right .box {
        width: calc(100% - 1vw);
        height: calc(100% - 1vw);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        flex-direction: column;
        background-color: #f0f0f0; }
        .secondary_container .ticket .right .box .top {
          width: 90%;
          height: 33%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .secondary_container .ticket .right .box .top .form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; }
            .secondary_container .ticket .right .box .top .form .button {
              width: 80%;
              color: #fff;
              border-radius: .3vw;
              padding: .8vw 0;
              font-weight: 500;
              background: gold;
              cursor: pointer;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;
              box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
              outline: none;
              border: none;
              font-size: .8vw;
              font-weight: 600; }
              .secondary_container .ticket .right .box .top .form .button:hover {
                background: #ffe10a;
                box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.1), 4px 4px 6px 0px rgba(0, 0, 0, 0.3); }
        .secondary_container .ticket .right .box .middle {
          width: 90%;
          height: 33%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .secondary_container .ticket .right .box .middle .form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; }
            .secondary_container .ticket .right .box .middle .form .button {
              width: 80%;
              color: #fff;
              border-radius: .3vw;
              padding: .8vw 0;
              font-weight: 500;
              background: gold;
              cursor: pointer;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;
              box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
              outline: none;
              border: none;
              font-size: .8vw;
              font-weight: 600; }
              .secondary_container .ticket .right .box .middle .form .button:hover {
                background: red;
                box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.1), 4px 4px 6px 0px rgba(0, 0, 0, 0.3); }
        .secondary_container .ticket .right .box .bottom {
          width: 90%;
          height: 33%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .secondary_container .ticket .right .box .bottom .form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; }
            .secondary_container .ticket .right .box .bottom .form .button {
              width: 80%;
              color: #fff;
              border-radius: .3vw;
              padding: .8vw 0;
              font-weight: 500;
              background: gold;
              cursor: pointer;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;
              box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
              outline: none;
              border: none;
              font-size: .8vw;
              font-weight: 600; }
              .secondary_container .ticket .right .box .bottom .form .button:hover {
                background: #64e10a;
                box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.1), 4px 4px 6px 0px rgba(0, 0, 0, 0.3); }
