:root {
    --primary-light: rgb(185, 254, 153);
    --primary: rgb(29, 191, 114);
    --primary-dark: rgb(26, 160, 95);
    --white: #FFFFFF;
    --greyLight-1: #efeeee;
    --greyLight-2: #e0dfdf;
    --greyLight-3: #d5d4d4;
    --greyDark: #dfdcdc;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid black; */
    box-sizing: border-box;
}




.error{
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.4);
    animation: errorBounce 0.2s ease-in;
}
.correct{
    border: 2px solid rgb(8, 174, 8);
    background-color: rgba(8, 174, 8, 0.4);
}

@keyframes errorBounce{
    0%{
        transform: translateX(-30px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    75%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}

.normal{
    border: 2px solid transparent;
}
.bidForm {
    animation: show .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: visible;
    padding: 0;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.276);
    backdrop-filter:blur(8px);
}

.bidForm>div {
    background-color: rgb(29, 191, 114);
    width: 80%;
    padding: 10%;
    border-radius: 10px;
}
.bidForm>div form{
    width: 80%;
}

.closeDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 40px;
}

.hide {
    animation: dont_show .4s ease-in-out;
    transition: .4s;
    visibility: hidden;
}
.no-scroll {
    overflow: hidden;
}

.hide * {
    animation: dont_show .4s ease-in-out;
    transition: .4s;
    visibility: hidden;
}
@keyframes dont_show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bidTitle{
    color: white;
}
.cardActDel{
    margin: 50px 0;
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 70%;
    height: max-content;
    justify-content: center;
    align-items: center;
    /* padding: 25px; */

    border-radius: 10px;
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
    animation:slide ease-in;
}
@keyframes slide{
    0%{
        margin-left: -200%;
    }

    100%{
        margin-left: 0%;
    }
}
.cardActDel .cardTile,.cardInfo{
    padding: 15px 25px;

}
.cardActDel img{
    border-radius: 10px;
}
.cardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.cardInfo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bidBtn{
    width: 32%;
    height: 100%;
    border: 2px solid transparent;
    background-color: rgb(80, 174, 51);
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
    color: white;
    transition: .2s;
}
.btnDet{
    height: 100%;
    width: 100%;
    margin: 1rem 0;
}
.titleColor{
    color: rgb(80, 174, 51);
}
.bidBtn:hover{
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
}
.btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .btn__primary {
    grid-column: 1/2;
    grid-row: 4/5;
    background: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1);
  }
  .btn__primary:hover {
    color: var(--white);
  }
  .btn__primary:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
  }
  .btn__secondary {
    grid-column: 1/2;
    grid-row: 5/6;
    color: var(--greyDark);
  }
  .btn__secondary:hover {
    color: var(--primary);
  }
  .btn__secondary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  .btn p {
    font-size: 1.6rem;
  }
button, input[type="submit"], input[type="reset"] {
	background: inherit;
	color: inherit;
	border: inherit;
	padding: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.rot{
    transform: rotate(16deg) scale(1.1) skew(23deg) translate(-107px,133px);
    -webkit-transform: rotate(16deg) scale(1.1) skew(23deg) translate(-107px,133px);
    -moz-transform: rotate(16deg) scale(1.1) skew(23deg) translate(-107px,133px);
}
.bidForm form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
@media screen and (max-width: 965px) {
    .cardInfo{
        flex-direction: column;
    }
    .cardInfo div{
        margin: 15px 0px;
    }
    .bidBtn{
        width: 90%; 
    }
    .cardActDel{
        width: 90%;
    }
    .bidForm form{
        flex-direction: column;
    }
    #comment{
        width: 100%;
    }
    #bid{
        width: 100%;
    }
    #sendBid{
        width: 100%;
    }
    #dateHolder{
        width: 100%;
    }
}

@media screen and (min-width: 965px) {

    #comment{
        width: 85%;
    }
    #bid{
        width: 85%;
    }
    #dateHolder{
        width: 85%;
    }
    #sendBid{
        width: 85%;
    }
}
#comment{
    height: 100px;
    resize: none;
    border: none;
}
#bid,#dateDepart,#dateArrive{
    height: 35px;
}
#sendBid{
    background-color: rgb(29, 191, 114);
    color: white;
    border: 2px solid white;
    transition: .2s;
}

#sendBid:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(29, 191, 114);
}
#comment , #bid ,#sendBid,#dateDepart,#dateArrive{
    border-radius: 5px;
    padding: 1%;
    margin: 5px;
}

#idDeliveries{
    display: none;
}
#dateHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dateHolder input{
    width: 49%;
    margin: 0;
}

