.paginationDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.paginationDiv form{
  margin: 1rem 0.2rem;
}
.changePage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
}
.changePage p{
  color: white;
  margin: 0 5px;
}

.changePage select{
  width: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  height: 40px;
  padding: 5px;
  border-radius: 50px;
}
.changePage select>option{
  color: black;
}
.pagBtn{
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  transition: .2s ease-in-out;
}

.pagBtn:hover{
  background-color: white;
  color: black;
}