/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	overflow-x:hidden;
}

.main_container{
	width:100%;
	display:flex;
	justify-content: center;
	flex-direction: row;

	.left{
		width:20%;
		height: 100%;
		display:flex;
		justify-content: center;
		align-items: flex-start;
		
		background-color:white;
		
		.box{
			width:13vw;
			height:100%;
			padding:1vw;
			display:flex;
			flex-direction: column;
			
			border-radius:1vw;
			margin-top:2vw;
			
			background-color:rgb(240,240,240);
			box-shadow: 2px 2px 15px 5px rgba(0,0,0,.1);
			
			.title{
				font-size:2vw;
				font-weight:700;
			}
			
			.text{
				font-size:100%;
				font-weight:400;
				overflow-x: hidden
			}
			.Ticket-id{
				font-size:1.6vw;
				font-weight:600;
			}
		}
	}
	
	.right{
		height: 100%;
		width:80%;
		display:flex;
		justify-content: center;
		align-items: flex-start ;
		
		background-color:white;
		
		.box{
			width:90%;
			height: 34vw;
			padding:1vw;
			display:flex;
			flex-direction: column;

			overflow-x: hidden;
			overflow-y: scroll;

			border-radius:1vw;
			margin-top:2vw;
			
			background-color:rgb(240,240,240);
			box-shadow: 2px 2px 15px 5px rgba(0,0,0,.1);
			
			.top{
				width:100%;
				margin:2vw 2vw 0 2vw;

				.dateT{
					font-size:.6vw;
				}
				.fa-solid{
					font-size: .5vw;
				}
				.message{
					margin-top: .1vw;
					margin-bottom:1.5vw;
					margin-left:.5vw;
				}
			}
			
			.bottom{
				height:4vw;
				width:20vw;
				display:flex;
				justify-content: center;
				align-items: center ;

				border-radius:1vw;

				background-color:rgb(240,240,240) ;
				box-shadow: 2px 2px 15px 5px rgba(0,0,0,.1);

				position:absolute;
				top:42.5vw;

				.message{
					border:none;
					border-bottom: solid;
					border-width: .1vw;
					appearance: none;
					width: 80%;
					background: none;
					color: #C5C5C5;
					font-size: 1vw;
					transition: ease-in-out .1s;
					margin-right:.4vw;

					&:focus{
						color: #6c6c6c;
						transition: ease-in-out .1s;
					}
				}

				.button {
					background-color: transparent;
					border: 2px solid #1dbf72;
					color: #1dbf72;
					cursor: pointer;
					outline: none;
					font-size:.9vw;
					border-radius: 5px;
					padding:.3vw .5vw;
					transition: ease-in-out .3s;

					&:hover{
						background-color: #1dbf72;
						color: #ffffff;
						transition: ease-in-out .3s;
					}
				}
			}
		}
	}
}